body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	position: relative;

	max-width: 1200px;
	margin: 0 auto;
	padding: 0;

	text-transform: uppercase;

	color: #333;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0 0 10px 4px #dbdbdb;
	box-shadow: 0 0 10px 4px #dbdbdb;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-header {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;

	color: #000;
	background-color: #fff;
}

.site-navigation {
	position: relative;
}

.site-navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}


.site-navigation-list li:nth-child(2) {
	margin-right: auto;
	padding-left: 3px;
}

.site-navigation-list li:nth-child(3) {
	margin-right: 7px;
	margin-left: auto;
}

.site-navigation-list li:nth-child(4) {
	margin-right: -10px;
}

.site-navigation-list a {
	display: inline-block;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 239px;
	padding: 15px 0;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	vertical-align: middle;

	color: #000;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
	color: #81b3d2;
}

.site-navigation-list a:active {
	cursor: pointer;

	color: rgba(0, 0, 0, .3);
}

.site-navigation-item {
	text-align: center;
}

.site-navigation-item_activ a {
	color: #766357;
}

.site-navigation-item_activ a:hover,
.site-navigation-item_activ a:focus,
.site-navigation-item_activ a:active {
	cursor: default;

	color: #766357;
}

.header-logo {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 50%;

	margin-right: -70px;
}

.container {
	max-width: 1200px;
	margin: auto;

	background-color: #fff;
}

.welcome {
	margin: auto;
	margin-top: 76px;
}

.postcard {
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	min-height: 508px;

	border-bottom: 60px solid #fff;
	background-color: #a9a9a9;
	background-image: url(../img/background-photo.jpg);
	background-repeat: no-repeat;
	background-position: 100% 30%;
	background-size: cover;
}

.postcard::after {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 1200px;
	height: 57px;

	content: '';

	background-image: url(../img/polygon.svg);
	background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	border: 0;

	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.preface {
	background-color: #fff;
}

.preface p {
	text-align: center;

	background-color: #fff;
}

.preface p:first-child {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	width: 600px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 28px;
	margin-left: auto;
}

.preface p:nth-child(2) {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;

	margin: 0;
	padding-bottom: 50px;
}

.advantages-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;

	counter-reset: count;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.advantages-number {
	position: relative;
}

.advantages-number::before {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	position: absolute;
	position: absolute;
	top: 112px;
	left: 175px;

	content: '— №' counter(count) ' —';
	counter-increment: count;
}

.advantages-number:nth-child(1)::before,
.advantages-number:nth-child(2)::before {
	color: #fff;
}

.advantages-image {
	overflow: hidden;

	-ms-flex-preferred-size: 66.6%;
	flex-basis: 66.6%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.advantages-image img {
	display: block;

	width: 100%;
	height: auto;
}

.advantages-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	text-align: center;
}

.advantages-item_l {
	overflow: hidden;

	width: 100%;
	height: 256px;
}

.advantages-item_s {
	width: 33.3%;
}

.advantages-content {
	height: 100%;
}

.advantages-content_blue {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	margin: 0;
	padding-top: 48px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.advantages-content_gray {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	margin: 0;
	padding-top: 48px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.advantages-content h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;

	margin: 0;
	padding-right: 120px;
	padding-left: 120px;

	color: #000;
}

.advantages-content p {
	margin: 0;
	padding-top: 65px;
	padding-right: 45px;
	padding-left: 48px;
}


.advantages-item .house {
	width: 100%;

	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 50% 24%;
}

.advantages-item .food {
	width: 100%;

	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 50% 24%;
}

.advantages-item .souvenirs {
	width: 100%;

	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 23%;
}

.advantages-item_l h3 {
	color: #fff;
}

.advantages-content_blue {
	height: 256px;

	background-color: #81b3d2;

	-ms-flex-preferred-size: 33.3%;
	flex-basis: 33.3%;
}

.advantages-content_gray {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	min-height: 256px;

	background-color: #eee;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.advantages-content_white {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	min-height: 330px;
	margin: 0;

	background-color: #fff;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.advantages-content_white h3 {
	padding-top: 160px;
}

.advantages-content_white p {
	padding-top: 26px;
}

.advantages-item_l p {
	color: #fff;
}

.search h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;

	margin-top: 50px;

	text-align: center;

	color: #000;
}

.search p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;

	margin-bottom: 45px;

	text-align: center;
}

.button {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	position: relative;
	z-index: 3;
	/*поиск гостиницы в седоне*/
	display: inline-block;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 568px;
	margin-left: 316px;
	padding: 30px 135px 31px 135px;

	text-align: center;

	color: #fff;
	background-color: #766357;
}

.button:hover,
.button:focus {
	background-color: #604e43;
}

.button:active {
	color: rgba(255, 255, 255, .3);
	background-color: #503e33;
}

.modal {
	position: absolute;
	z-index: 2;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 568px;
	min-height: 392px;
	margin-left: 316px;

	background-color: #fff;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
	box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
}

.modal-show {
	display: none;
}

.search-item_arrival_departure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-top: 55px;
	margin-right: 55px;
	margin-bottom: 0;
	margin-left: 56px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.search-item_arrival {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 29px;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-item_departure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 30px;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-item svg {
	margin-right: 0;

	fill: #a9a9a9;
}

.search-item svg:hover,
.search-item svg:focus {
	fill: #000;
}

.search-item svg:active {
	fill: #81b3d2;
}


.search-input {
	position: relative;

	margin-left: 4px;
}


.search-input svg {
	position: absolute;
	top: 8px;
	right: 7px;
}

.search-item_arrival input {
	width: 346px;
	margin-left: 19px;
}

.search-item_departure input {
	width: 346px;
	margin-left: 16px;
}

.search-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-right: 55px;
	margin-bottom: 54px;
	margin-left: 56px;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.search-item_adults input {
	width: 117px;
	margin-left: 40px;
	padding-right: 14px;
	padding-left: 0;
}

.search-item_children input {
	width: 117px;
	margin-left: 25px;
	padding-right: 12px;
	padding-left: 0;
}

.search-item_adults {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-item_children {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-left: 50px;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-wrapper {
	position: relative;
}

.search-btn {
	font-size: 0;

	position: absolute;

	width: 12px;
	height: 3px;

	cursor: pointer;

	border: 0;
}

.search-btn_plus_adult {
	top: 13px;
	right: 17px;

	background-color: transparent;
}

.search-btn_minus_adult {
	top: 13px;
	left: 53px;

	background-color: transparent;
}

.search-btn_plus_children {
	top: 13px;
	right: 14px;

	background-color: transparent;
}

.search-btn_minus_children {
	top: 13px;
	left: 41px;

	background-color: transparent;
}

.search-btn_plus::before,
.search-btn_plus::after,
.search-btn_minus::after {
	position: absolute;
	z-index: 3;
	top: 5px;
	left: 0;

	width: 12px;
	height: 3px;

	content: '';

	background-color: #a9a9a9;
}

.search-btn_plus::after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.search-btn:hover::before,
.search-btn:hover::after {
	background-color: #000;
}

.search-btn:focus::before,
.search-btn:focus::after {
	background-color: #000;
}

.search-btn:active::before,
.search-btn:active::after {
	background-color: #81b3d2;
}

.offers input[type='text'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 12px;
}

.search-inner input[type='text'] {
	text-align: center;
}

.offers label,
.offers input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;

	text-transform: uppercase;
}

.offers input {
	padding-top: 6px;
	padding-bottom: 6px;

	border: none;
	background-color: #f2f2f2;
}

.offers input:hover,
.offers input:focus {
	background-color: #ebebeb;
}

.offers input:active {
	border: inset 2px solid;
	border-color: #e5e5e5;
	background-color: #fff;
}

.button-search {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	width: 458px;
	margin-bottom: 55px;
	margin-left: 55px;
	padding: 15px 194px 15px 194px;

	text-align: center;
	text-transform: uppercase;

	color: #fff;
	border: 1px solid transparent;
	background-color: #81b3d2;
}

.offers button:hover,
.offers button:focus {
	color: #fff;
	background-color: #669ec0;
}

.offers button:active {
	color: rgba(255, 255, 255, .3);
	background-color: #5496bd;
}


.map {
	position: absolute;
	z-index: -1;
	top: -400px;

	display: block;

	margin-bottom: 0;

	background-color: #fff;
	background-size: 1200px;
}

/*футер начало*/

.page-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	min-height: 120px;

	color: #000;
	background-color: #fff;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.page-footer_1ndex {
	position: absolute;
	bottom: 0;

	width: 100%;

	background-color: rgba(255, 255, 255, .9);
}

.footer-hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	width: 33.3%;
	margin-top: 47px;
	margin-bottom: 47px;
	margin-left: 132px;

	text-transform: uppercase;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 33.3%;
	margin: 35px auto;
	margin-right: 100px;
	margin-left: 74px;
	padding: 0;

	list-style: none;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 46px;
	height: 48px;
	margin-right: 6px;

	background-color: #81b3d2;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active path {
	fill: #88b6d1;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright p {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;

	display: inline-block;

	margin-top: 47px;
	margin-right: 6px;

	text-transform: uppercase;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 33.3%;
	margin-right: 101px;

	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.name-logo {
	width: 115px;
	height: 41px;
	margin-top: 39px;
}

.name-logo:hover path,
.name-logo:focus path {
	fill: #81b3d2;
}

.name-logo:active path {
	fill: #bdbbbc;
}

/*футер конец*/

/*форма в catalog*/

.inner {
	margin: 0;
	padding: 0;

	border: none;
}

.inner ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.selection {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	min-height: 216px;
	margin-bottom: 0;
	padding-left: 0;

	color: #fff;
	background-color: #796a6a;
	background-image: url(../img/filter-background@2x.jpg);
	background-position: 100% 50%;
	background-size: cover;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 50%;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.infrastructure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	width: 175px;
	margin-top: 27px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: 72px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.infrastructure ul,
.type-of-housing ul {
	display: flex;
	flex-direction: column;

	margin-top: 24px;
}

.holder li {
	display: inline-block;

	vertical-align: middle;
}

.type-of-housing li:first-child {
	margin-bottom: -2px;
}

.infrastructure li:first-child {
	margin-bottom: -2px;
}

.type-of-housing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	width: 180px;
	margin: auto;
	margin-top: 27px;
	margin-bottom: 5px;
	margin-left: -15px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.checkbox-item {
	position: relative;

	display: inline-block;

	margin-top: 0;
	margin-bottom: 26px;
	margin-left: 0;
	padding-left: 42px;

	cursor: pointer;
}

.infrastructure .checkbox-item {
	padding-left: 38px;
}

.checkbox-item checkbox {
	list-style: none;
}

.checkbox + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.checkbox:checked + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.checkbox:disabled + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: default;

	background-image: url(../img/checkbox-off-2.svg);
	background-repeat: no-repeat;
}

.checkbox:checked:disabled + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: default;

	background-image: url(../img/checkbox-on-2.svg);
	background-repeat: no-repeat;
}

.checkbox:hover + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.checkbox:focus + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	outline: 1px solid #92cbee;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.checkbox:checked:hover + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.checkbox:checked:focus + .checkbox-pool {
	position: absolute;
	top: 0;
	left: 0;

	width: 27px;
	height: 23px;

	cursor: pointer;

	outline: 1px solid #92cbee;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.selection legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.filter-range {
	width: 330px;
	margin: auto;
	margin-top: 28px;
	margin-right: 73px;
	margin-left: 200px;

	text-transform: uppercase;

	color: #fff;
}

.filter-range-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;

	margin-bottom: 9px;
	margin-left: 14px;
}

.price-controls {
	font-size: 0;

	position: relative;

	height: 32px;
	margin-bottom: 20px;
	margin-left: 14px;

	border: 2px solid #fff;
	border-radius: 2px;
}

.price-controls::after {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 20px;

	content: '';
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background: #fff;
}

.price-controls label {
	font-size: 14px;
	line-height: 32px;

	display: inline-block;

	cursor: pointer;
	vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 60px;
}

.price-controls input {
	font: inherit;

	width: 50px;
	margin: 0;

	color: inherit;
	border: none;
	background: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
	margin-left: 14px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	cursor: pointer;

	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.selection button {
	font-size: 14px;
	line-height: 20px;

	display: block;

	margin: 0 auto;
	padding: 6px 35px;

	cursor: pointer;
	text-transform: uppercase;

	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	background: transparent;
}

.selection button:hover,
.selection button:focus {
	color: #000;
	background-color: #fff;
}

/*конец формы в catalog*/

.filters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	min-height: 86px;
	margin-top: 0;

	border-bottom: 1px solid #f2f2f2;
	background-color: #fff;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.filters p {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	margin: 0;

	color: #000;
}

.filters p:first-of-type {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	color: #000;
}

.output {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 241px;
	margin-left: 72px;
	padding-top: 18px;
	padding-bottom: 23px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 779px;
	margin-right: 72px;
	margin-bottom: 33px;
	margin-left: 40px;
	padding-top: 20px;
	padding-left: 0;

	list-style: none;

	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sorting-item a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	margin-right: 30px;

	color: rgba(0, 0, 0, .3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:last-child {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	margin-right: 30px;
	margin-left: 1px;

	color: rgba(0, 0, 0, .3);
	border-bottom: 1px dotted #81b3d2;
}

.icon-dir_up {
	margin-right: 12px;
	margin-left: auto;
}

.icon-dir_up path:hover,
.icon-dir_up path:focus {
	fill: #000;
}

.icon-dir_up path:active {
	fill: #81b3d2;
}

.sorting-item_active a {
	color: #81b3d2;
	border-bottom: none;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
	color: #000;
	border-bottom: none;
}

.sorting-item_active a:hover,
.sorting-item_active a:focus,
.sorting-item_active a:active {
	color: #81b3d2;
	border-bottom: none;
}

.hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	min-height: 90px;
	padding: 15px 72px;

	border-bottom: 1px solid #f2f2f2;
	background-color: white;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hotel-pictures {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 135px;

	background-color: #fefefe;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.hotel-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-left: 32px;
	padding-bottom: 14px;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.hotel-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 8px;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hotel-row:nth-child(2) {
	padding-top: 0;
}

.hotel-row:nth-child(3) {
	padding-top: 16px;
}

.hotel-stars {
	height: 17px;
	margin-left: auto;
	padding: 0;

	background-image: url(../img/star.svg);
	background-repeat: space;

	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.hotel-stars_first {
	width: 89px;
}

.hotel-stars_second {
	width: 65px;
}

.hotel-stars_third {
	width: 40px;
}

.hotel-name {
	margin: 0;
	padding-bottom: 6px;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;

	max-width: 300px;
	padding-top: 7px;
}

.hotel-text {
	min-width: 110px;
	margin: 0;
}

.hotel-text + .hotel-text {
	margin-left: 4px;
}

.hotel-rating {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	display: inline-block;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 110px;
	margin-left: auto;
	padding: 1px 12px 1px 15px;

	text-align: center;
	vertical-align: middle;

	color: #666;
	background-color: #f2f2f2;
}

.hotel-content h3 a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	margin: 0;

	list-style: none;

	color: #000;
}

.hotel-content h3 a:hover,
.hotel-content h3 a:focus {
	color: #81b3d2;
}

.hotel-content h3 a:active {
	color: rgba(0, 0, 0, .3);
}

.book {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;

	display: inline-block;

	width: 110px;
	padding: 3px 15px 3px 15px;

	text-align: center;
	vertical-align: middle;

	color: #fff;
	background-color: #766357;
}

.book:hover,
.book:focus {
	color: #fff;
	background-color: #604e43;
}

.book:active {
	color: rgba(255, 255, 255, .3);
	background-color: #503e33;
}

.more {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;

	display: inline-block;

	width: 76px;
	padding: 3px 16px 3px 16px;

	text-align: center;
	vertical-align: middle;

	color: #fff;
	background-color: #81b3d2;
}

.more:hover,
.more:focus {
	color: #fff;
	background-color: #669ec0;
}

.more:active {
	color: rgba(255, 255, 255, .3);
	background-color: #5496bd;
}

.btn + .btn {
	margin-left: 6px;
}

.hotel span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	width: 110px;
	padding: 3px 12px 3px 15px;

	text-align: center;
	vertical-align: middle;

	color: #666;
	border: 1px solid transparent;
	background-color: #f2f2f2;
}

.modal {
	animation-name: form;
	animation-duration: .6s;
}

@keyframes form {
	0% {
		transform: translateY(-88px);
	}
	100% {
		transform: translateY(0);
	}
}
